.bttn-ringer {
    position: fixed;
    z-index: 1000;
    bottom: -15%;
    left: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: green;
    width: 70px;
    -webkit-animation: prop 6000ms ease;
            animation: prop 6000ms ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-transform: translate3d(0em, 0em, 0em);
            transform: translate3d(0em, 0em, 0em);
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
  }
  
  @-webkit-keyframes prop {
    0% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    1% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    2% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    3% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    4% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    5% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    6% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    7% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    8% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    9% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    10% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    11% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    12% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    13% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    14% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    15% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    16% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    17% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    18% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    19% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    20% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    21% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    100% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
  }
  
  @keyframes prop {
    0% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    1% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    2% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    3% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    4% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    5% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    6% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    7% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    8% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    9% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    10% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    11% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    12% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    13% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    14% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    15% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    16% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    17% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    18% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    19% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    20% {
      -webkit-transform: translate3d(0.2em, 0em, 0em);
              transform: translate3d(0.2em, 0em, 0em);
    }
    21% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
    100% {
      -webkit-transform: translate3d(0em, 0em, 0em);
              transform: translate3d(0em, 0em, 0em);
    }
  }
  
  .bttn-ringer:hover .ringer-img:before {
    width: 180px;
    border-radius: 50px;
    margin-right: -50px;
  }
  
  .bttn-ringer:hover .ringer-text {
    opacity: 1;
    visibility: visible;
  }
  
  .ringer-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background-color: #F99014;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  
  .ringer-img:before {
    content: '';
    background-color: #F99014;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  
  .ringer-img img {
    max-width: 40px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  
  .ringer-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: absolute;
    right: -14.7vmin;
    top: 3.5vmin;
    z-index: 10;
  }
  
  .ringer-text a {
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    font-family: Ubuntu, sans-serif;
  }
  
 
  .sale-carousel-product{
    background-color: #f5911e;
  }
  .carousel-product-item-slide{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
  .ff-card-wrapper{
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 40px 10px 0;
  }
  .ff-card-wrapper:last-of-type{
      margin-right: 0;
  }
  .ff-card__items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vmin;
    padding: 0 10px;
  }
  .ff-card__items-img {
      position: relative;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
  }
  .ff-card__items-img img{
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
  }
  .attention-discont{
      position: absolute;
      bottom: 7vmin;
      right: 0;
      background-color: rgb(219, 30, 30);
      color: white;
      font-size: 14px;
      padding: 2px 5px;
  }
  
  .ff-card__items-body{
      text-align: center;
     
  }
  .card__items-body_name p {
      font-family: Ubuntu, sans-serif;
      font-weight: 700;
  }
  
  .card__items-body_old-price p{
      font-family: Ubuntu, sans-serif;
      text-decoration: line-through;
      font-size: 14px;
  }
  .card__items-body_act-price{
      font-family: Ubuntu, sans-serif;
      font-weight: 700;
      color: red;
  }
  .ff-card__items-btn{
    padding-bottom: 20px;
  }
  .ff-card__items-btn button{
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #f5911e;
    color: #fff;
    padding: 3px 25px;
    font-weight: 700;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  .ff-card__items-btn button:hover{
      background-color: rgb(241, 32, 32);
      color: white;
  }
  
  /* Стрелка */
  .sale-carousel-product .slick-arrow{
      position: absolute;
      top: 55%;
      width: 40px;
      height: 70px;
      z-index: 100;
  }
  /* Стрелка влево */
  .sale-carousel-product .slick-arrow.slick-prev{
      background: url('/media/svg/left-arrow.svg') 0 0 /100% no-repeat;
      left: 10px;
      
  }
  /* Стрелка вправо */
  .sale-carousel-product .slick-arrow.slick-next{
      background: url('/media/svg/next.svg') 0 0 /100% no-repeat;
      right: 10px;
  }
  @media (max-width: 1024px){
      .ff-card__items{
          height: auto;
      }
      .ff-card__items-img img{
          max-width: 200px;
          min-height: 200px;
          max-height: 200px;
      }
      .ff-card-wrapper{
          max-width: 250px;
          margin: 10px 10px 10px 0;
        }
  }
  @media (max-width: 900px){
      .ff-card__items-img img{
          max-width: 150px;
          min-height: 150px;
          max-height: 150px;
      }
      .card__items-body_old-price p{
          font-size: 12px;
      }
      .card__items-body_name p{
          font-size: 12px;
      }
      .card__items-body_act-price p{
          font-size: 12px;
      }
      .ff-card__items-btn{
          padding-bottom: 10px;
      }
      .ff-card__items-btn button{
          font-size: 12px;
          padding: 3px 10px;
  
      }
  }
  
  @media (max-width: 768px) {
      .bttn-ringer {
        display: none;
      }
      .sale-carousel-product .slick-arrow{
          width: 30px;
          height: 60px;
      }
      .attention-discont{
          font-size: 10px;
          padding: 1px 3px;
      }
    }
    @media (min-width: 669px){
      .additional-for-adaptive{
          display: none;
      }
      .mod-1{
          display: block;
      }
    }
    @media (max-width: 668px){
      .mod-1{
          display: none;
      }
      .additional-for-adaptive{
          display: block;
      }
    }
    @media (min-width: 480px){
      .additional-for-adaptive-480{
          display: none;
      }
    }
    @media (max-width: 480px){
        .mod-480{
            display: none;
        }
        .additional-for-adaptive-480{
            display: block;
        }
    }
 

